<ion-header>
    <ion-toolbar>
      <ion-back-button (click) = "goback()" color="primary"></ion-back-button>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="body">

 <ion-card class= "card">
        <ion-card-header class= "card-header">
            <h1>CHOIX RESTAURANTS</h1>
          </ion-card-header>
        <p><ion-button expand="full" color="primary" (click)="manger()" >PRINCIPAL<ion-icon name="checkmark"></ion-icon></ion-button></p>
      <p><ion-button expand="full" color="primary" (click)="manger1()">ESP</ion-button></p>
<p><ion-button expand="full" color="primary" (click)="manger2()" >CENTRAL</ion-button></p>
</ion-card>

</ion-content>
