<ion-header>
    <ion-toolbar>
      <ion-back-button (click) = "goback()" color="primary"></ion-back-button>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="body">
      <ion-card class= "card">

          <ion-card-header class= "card-header">
              <h1>ACHAT</h1>
            </ion-card-header>
            <ion-item>
              <ion-label  position="floating">nombre de credits</ion-label>
               <ion-input  type="text" [(ngModel)]="tickets"></ion-input> 
            </ion-item>
  
            <ion-item>
               <ion-label position="floating">Code secret ecobank</ion-label>
                <ion-input type="password" [(ngModel)]="code"></ion-input>
            </ion-item>
   
      <ion-button color="primary" (click)="acheter()" class="b3">Acheter<ion-icon name="checkmark"></ion-icon></ion-button>
       
  </ion-card>
  </ion-content>