<ion-header>
    <ion-toolbar>
      <ion-back-button (click) = "goback()" color="primary"></ion-back-button>
    <ion-title></ion-title>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="body">
      <ion-card class= "card">
  
          <ion-card-header class= "card-header">
              <h1>restau CENTRAL</h1>
            </ion-card-header>
      <ion-button color="primary" class="b1" (click)= "repas()" >repas</ion-button>
      <ion-button color="primary" class="b2" (click)= "petit()" >petit dejeuner</ion-button>
    </ion-card>    
  </ion-content>