ion-toolbar.header{
  --background: url('../../assets/img/og.png');
  height: 100px;
}
ion-content.body{
  --background: url('../../assets/img/images.jpg');
  //--background: linear-gradient (to left, #3880ff; #ffffff);
}
ion-card-header.card-header{
  --color: #ffffff;
}
ion-card.card{
  --background: rgba(0, 0, 0, 0.5);
  --border-radius : 5px;
  height: 430px;
  width: 270px;
}
.b1{
  height: 170px;
  width: 131px;
}
.b2{
  height: 170px;
  width: 131px;
}