<ion-header>
  <ion-toolbar>
      <ion-back-button (click)="gohome()" color="primary"></ion-back-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
    <ion-card class= "card">
        <ion-card-header class= "card-header">
          <h1>Saissisez votre mail de recupération de mot de passe</h1>
        </ion-card-header>
  <ion-item>
    <ion-label  position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input> 
  </ion-item>

    <ion-button color="primary" (click)="valider()" >Valider<ion-icon name="checkmark"></ion-icon></ion-button>
  </ion-card>
</ion-content>

